<!DOCTYPE html>
<html lang="en">

<head>
    <title>MY LIVE'S </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    #{data}
    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-3 sidenav">
                <h4>My Noti app</h4>
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="#section1">Home</a></li>
                    <li><a href="/noti/generateToken">Create Token and Send Web Push Noti</a></li>
                    <li><a href="/login">Google Auth Login</a></li>

                    //- <li><a href="/noti/admin">Send Noti</a></li>
                    //- <li><a href="https://accounts.google.com/o/oauth2/v2/auth?#{data}">Login</a></li>
                </ul><br>
                //- <div class="input-group">
                //-     <input type="text" class="form-control" placeholder="Search Blog..">
                //-     <span class="input-group-btn">
                //-         <button class="btn btn-default" type="button">
                //-             <span class="glyphicon glyphicon-search"></span>
                //-         </button>
                //-     </span>
                //- </div>
            </div>

            <div class="col-sm-9">
                <h4><small>RECENT POSTS</small></h4>
                <hr>
                <h1>My Noti App</h1>
                //- <h5><span class="glyphicon glyphicon-time"></span> </h5>
                <h5><span class="label label-danger">Web Push</span> <span class="label label-primary">Firebase</span></h5><br>
                <p style = "font-size:20px"> To send noti to a user first click on create token 
                    | this will create a token for a user then click on admin this will tale you to the page where your btn with your token will be.
                    | Just click on that btn and you will recieve notification
                
                </p>
                <br><br>
                <hr>
                <h1>Google Login</h1>
                //- <h5><span class="glyphicon glyphicon-time"></span> </h5>
                <h5><span class="label label-danger">Google Auth</span> <span class="label label-primary">Google</span></h5><br>
                <p style = "font-size:20px"> To check how google auth works check the source code . 
                    | To see the live example click on Google Auth Login . Then Sign up
                    | In this we have aslo expalined how to save user dta in database(MONGODB) so try clicking 
                    | Save in db after looging in.
                
                </p>
                <br><br>

                //- <h4><small>RECENT POSTS</small></h4>
                //- <hr>
                //- <h2>Officially Blogging</h2>
                //- <h5><span class="glyphicon glyphicon-time"></span> Post by John Doe, Sep 24, 2015.</h5>
                //- <h5><span class="label label-success">Lorem</span></h5><br>
                //- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                //-   |  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                //-   |  aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                //-   |  officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor
                //-   |  incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                //-   |  ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                //- <hr>
            </div>
        </div>
    </div>

    <footer class="container-fluid">
        <p>Happy coding</p>
    </footer>

</body>

</html>